.headerPic {
    background: url("../assets/laptop_book_aesthetics_214147_1400x1050.jpg") no-repeat;
    height: 90vh;
    width: 1400px;
}

.comment {
    width: 1000px;
    outline: none;
    height: 100px;
}